<!-- <p>vacina-listagem works!</p> -->
<mat-toolbar color="primary">
    <span>Listagem de vacinas</span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="cabecalho"> #ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="paisOrigem">
    <th mat-header-cell *matHeaderCellDef class="cabecalho"> Pais de origem </th>
    <th mat-cell *matCellDef="let element"> {{element.paisOrigem}}</th>
  </ng-container>

  <ng-container matColumnDef="estagio">
    <th mat-header-cell *matHeaderCellDef class="cabecalho"> Estágiod da pesquisa </th>
    <th mat-cell *matCellDef="let element"> {{element.estagioPesquisa}} </th>
  </ng-container>

  <ng-container matColumnDef="dataInicio">
    <th mat-header-cell *matHeaderCellDef class="cabecalho"> Data de início da pesquisa </th>
    <th mat-cell *matCellDef="let element"> {{element.dataInicioPesquisa | date:'dd/MM/yyyy'}} </th>
  </ng-container>

  <ng-container matColumnDef="responsavel">
    <th mat-header-cell *matHeaderCellDef class="cabecalho"> Responsável </th>
    <td mat-cell *matCellDef="let element"> {{element.responsavel.nome}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row,; columns: displayedColumns;"></tr>
</table>

<section id="botoes">
  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="buscarVacina()">Buscar todas</button>
    <button mat-flat-button color="accent" (click)="buscarPorId()">Buscar por id</button>
    <button mat-flat-button color="accent" (click)="buscarPorPesquisador()">Buscar por pesquisador</button>
    <button mat-flat-button color="warn" (click)="voltar()">Voltar</button>
  </div>
</section>

<!-- Muito útil para testes -->
<!-- <pre>{{dataSource | json}}</pre> -->
